* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Calibri Light";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(background-edit.jpg);
  background-size: cover;
  color: #f1f1f1;
  animation-name: tilt;
  animation-duration: 3s;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 60px;
  letter-spacing: 3px;
  padding-bottom: 5px;
}

@keyframes tilt {
  from {opacity: 0;}
  to {opacity: 1;}
}

.btn-wrapper {
  text-align: center;
  margin: 50px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.abt {
  background-color: #212121;
}

.btn {
  padding: 12px 24px;
  color: #f1f1f1;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}


header {
  height: 65px;
  width: 100%;
  background-color: #212121;
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left span {
  color: #f1f1f1;
  line-height: 65px;
  font-size: 20px;
  padding-right: 10px;
  float: right;
  display: block;
}

.menu-icon {
  color: #f1f1f1;
  font-size: 25px;
  padding: 21px 0;
  display:none;
  float:right;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: #f1f1f1;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.about-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading-edu {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #f1f1f1;
}

.contents-icon {
  position: relative;
}

.contents-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.contents-icon img {
  width: 200px;
  height: auto;
}

.text-contents {
  width: 65%;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
  color: #5f5d60;
}

.text-contents-edu {
  width: 80%;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
  color: #f1f1f1;
}

.education-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url(ugm2-edit.jpg);
  background-size:cover;
  text-align: center;
}

.heading h3 {
  font-weight: normal;
}

input, textarea{
  width:400px;
  margin-bottom:20px;
  padding:10px;
  font-size:14px;
  border:1px solid #dee7ec;
  border-radius: 10px;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message-wrapper p {
  color: #5f5d60;
}

.message {
  width: 400px;
  background-color: #424246;
  cursor: pointer;
  box-shadow: 0 7px #212121;
}

.message p {
  font-weight: normal;
  color:#5f5d60;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer a {
  color: #f1f1f1;
  padding-right:15px;
  font-size:20px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  background-color:#212121;
}